body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
}

header {
    background-color: black;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    transition: top 0.3s ease;
}

.skip-link:focus {
    top: 0;
}

img {
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
 
}

#main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a:hover {
    color: #ff0000;
    font-size: 20px;
}

img:nth-child(even) {
    border-radius: 0;
}

